@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&family=Source+Code+Pro:ital,wght@1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bungee Inline', cursive;
  font-family: 'Bungee Outline', cursive;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  margin: 1em;
  font-family: 'Bungee Outline', cursive;
  color: #9acd32;
  text-shadow: 4px 4px 2px rgba(116, 149, 49, 0.6);
}

.song-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 2em;
}

.item {
  margin-top: 0.8em;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}

button {
  padding: 0.5em 2em;
  border: none;
  outline: none;
  background: linear-gradient(#0f5f0f, #2e6b6b);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem #07302e;
}

.content {
  margin: 0.5em 0 1.5em;
}

.song-detail {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 25%;
}
